
/* Reset some default browser styles */
body, h1, h2, h3, p, button, input {
  margin: 0;
  padding: 0;
}

/* Apply a background color */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  padding: 20px;
}

/* Headings */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Slider Container */
.slider-container {
  margin-bottom: 20px;
}

/* Slider */
.slider {
  width: 100%;
}

/* Action Button */
.action-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Status and Spinner */
.status {
  margin-top: 20px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #007BFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Progress Bar */
.progress-bar {
  width: 100%;
}

#loading{
  display: none;
}

#completion{
  display: none;
}

/* Results */
.results {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 16px;
}

.toggle {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 34px;
}

.toggle input {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.toggle input:checked + .toggle-slider {
  transform: translateX(26px);
}

/* Results */

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
}

.text-content {

}

.name {
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 4px;
}

.summary {
  color: #999;
}

.thumb {
    width: 44px;
    height: 44px;
    flex-basis: 44px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #ececec;
    margin-left: 16px;
}
